# The Requests Library

Now that we know how to use BeautifulSoup to get data from HTML files, let's see how we can scrape data from a real website. Unfortunately, Beautifulsoup can't access websites directly. Therefore, in order to access websites, we will use Python's `requests` library. The `requests` library allows us to send web requests and get a website's HTML data. Once the `requests` library gets us the HTML data, we can use Beautifulsoup, just as we did before, to extract the data we want. So let's see an example.

In the code below we will use the `requests` library and BeautifulSoup to get Tesla's `production and sales by quarter` data from a `html table` the following Wikipedia [webpage](https://en.wikipedia.org/wiki/Tesla,_Inc.). This table corresponds to Tesla's production and sales figures since Q1 2013. We will start by importing the `requests` library by using:

```python
import requests
```

We will then use the `requests.get(website)` function to get the source code from our `wikipage`. The `requests.get()` function returns a `Response` object that we will save in the variable `r`. We can get the HTML data we need from this object by using the `.text` method, as shown below. Finally, we'll convert and display the extracted html table into Pandas dataframe.

In [1]:
from bs4 import BeautifulSoup
import requests

import pandas as pd
import numpy as np

In [2]:
# Create a Response object
# r = requests.get('https://en.wikipedia.org/wiki/Tesla,_Inc.')
r = requests.get('https://en.wikipedia.org/wiki/History_of_Tesla,_Inc.#Timeline_of_production_and_sales')

# Get HTML data
html_data = r.text

The `.text` method returns a string, therefore, `html_data` is a string containing the HTML data from our website. Notice, that since `html_data` is a string it can be passed to the BeautifulSoup constructor, and we will do this next, but for now, let's print the `html_data` string to see what it looks like:

In [6]:
# Print the HTML data
print(html_data[:2000])

<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>History of Tesla, Inc. - Wikipedia</title>
<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"617344ee-d300-4ac8-9bef-a3e1eaeeebdb","wgCSPNonce":!1,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"History_of_Tesla,_Inc.","wgTitle":"History of Tesla, Inc.","wgCurRevisionId":1032876355,"wgRevisionId":1032876355,"wgArticleId":51237650,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Pages with non-numeric formatnum arguments","CS1 German-language sources (de)","CS1 French-language sources (fr)","CS1 Danish-language sources (da)","CS1 Dutch-language sources (nl)","CS1 Norwegian-language sources (no)","CS1 Swedish-language sources (sv)",
"Articles with short description","Short description matches Wikidata","Wikipedia articles needing reorganization from December 2020","Wikipedia introduction cleanup from December 2020","All pages needing cleanup","Articles covered by WikiProject Wikify from December 2020","All articles covered by WikiProject Wikify","Articles with multiple maintenance issues","Wikipedia articles in need of updating from August 2013","All Wikipedia articles in need of updating","Articles containing potentially dated statements from 2014","All articles containing potentially dated statements","Wikipedia articles in need of updating from January 2020","Wikipedia articles in need of updating from January 2017","Vague or ambiguous geographic scope from June 2020","Articles containing potentially dated statements from 2019","Articles containing potentially dated statements from October 2016

As we can see, `html_data` indeed contains the HTML data of our website. Notice, that since we are dealing with a real website this time, the HTML file is very long. 

Now that we have the HTML data from our website, we are ready to use BeautifulSoup just as we did before. The only difference is that this time, instead of passing an open filehandle to the BeautifulSoup constructor, we will pass the `html_data` string. So let's pass `html_data` to the BeautifulSoup constructor to get a BeautifulSoup object:

In [7]:
# Create a BeautifulSoup Object
page_content = BeautifulSoup(html_data, 'html.parser')

# Print the BeautifulSoup Object
print(page_content.prettify()[:2000])

<!DOCTYPE html>
<html class="client-nojs" dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   History of Tesla, Inc. - Wikipedia
  </title>
  <script>
   document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"617344ee-d300-4ac8-9bef-a3e1eaeeebdb","wgCSPNonce":!1,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"History_of_Tesla,_Inc.","wgTitle":"History of Tesla, Inc.","wgCurRevisionId":1032876355,"wgRevisionId":1032876355,"wgArticleId":51237650,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Pages with non-numeric formatnum arguments","CS1 German-language sources (de)","CS1 French-language sources (fr)","CS1 Danish-language sources (da)","CS1 Dutch-language sources (nl)","CS1 Norwegian-language sources (no)","CS1 Swedish-language sources (sv)",
"Articles with short description","Short description matches Wikidata","Wikipedia articles needing reorganization from December 2020","Wikipedia introduction cleanup from December 2020","All pages needing cleanup","Articles covered by WikiProject Wikify from December 2020","All articles covered by WikiProject Wikify","Articles with multiple maintenance issues","Wikipedia articles in need of updating from August 2013","All Wikipedia articles in need of updating","Articles containing potentially dated statements from 2014","All articles containing potentially dated statements","Wikipedia articles in need of updating from January 2020","Wikipedia articles in need of updating from January 2017","Vague or ambiguous geographic scope from June 2020","Articles containing potentially dated statements from 2019","Articles containing potentially dated statements

Now that we have a BeautifulSoup object, we can get our sales and production data. To do this, we need to know which tags contain our table data. In order to figure this out, we need to inspect our webpage using our web browser. For this example we will use the Chrome web browser but all web browsers have the same kind of functionality. We begin by going to our wikipage: https://en.wikipedia.org/wiki/Tesla,_Inc.

Next, we hover our mouse over around the [target html table](https://en.wikipedia.org/wiki/Tesla,_Inc.#Production_and_sales_by_quarter). As an example, we will hover over the `table header` row. Next, we right-click on the header title for `Quarter` and a dropdown menu will appear. From this menu we will choose **Inspect**. Once we click on **Inspect** we will see the HTML source code of our webpage appear on the right, as shown in the figure below:

<br>
<figure>
  <img src = "./wikitable.png" width = "100%" style = "border: thin silver solid; padding: 10px">
</figure> 
<br>

If we inspect the html source code on the right panel, we will see that the table header and rows are all contained within the same `<table>` tag. Therefore, we can use the above information to extract the column title from table header and detail data in the rows. In the code below we use BeautifulSoup's `find()` method to find the target `<table>` tag that has `class="wikitable"`.

<br>
<figure>
  <img src = "./table-tag.png" width = "50%" style = "border: thin silver solid; padding: 10px">
</figure> 
<br>

A complete `html table` can be structured in the following way:
```
<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Sales</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>January</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>February</td>
      <td>$80</td>
    </tr>
  </tbody>
  
  <tfoot>
    <tr>
      <td>Sum</td>
      <td>$180</td>
    </tr>
  </tfoot>
</table>
```

But notice that the html table in our wikipage does not have `<thead>` and `<tfoot>` tags. Let's create a BeautifulSoup's object and name it as `wikitable`.

In [6]:
wikitable = page_content.find_all('table', {'class': 'wikitable'})
for table in wikitable:
    print(table)
    print()
    print()

print(f"There're {len(wikitable)} wikitable in this page.")

<table class="wikitable sortable">
<tbody><tr>
<th data-sort-type="date">Date
</th>
<th>Announced
</th>
<th>Company
</th>
<th>Business
</th>
<th data-sort-type="number">Value (USD)
</th>
<th class="unsortable">References
</th></tr>
<tr>
<td align="center">May 8, 2015
</td>
<td>Yes
</td>
<td>Riviera Tool LLC
</td>
<td>Stamping die systems used to form sheet metal parts
</td>
<td align="center">Unknown
</td>
<td align="center"><sup class="reference" id="cite_ref-90"><a href="#cite_note-90">[90]</a></sup>
</td></tr>
<tr>
<td align="center">Nov 8, 2016
</td>
<td>Yes
</td>
<td><a href="/wiki/Tesla_Grohmann_Automation" title="Tesla Grohmann Automation">Grohmann Engineering</a>
</td>
<td>Engineering automation systems
</td>
<td align="center">135 million
</td>
<td align="center"><sup class="reference" id="cite_ref-91"><a href="#cite_note-91">[91]</a></sup>
</td></tr>
<tr>
<td align="center">Nov 21, 2016
</td>
<td>Yes
</td>
<td><a href="/wiki/SolarCity" title="SolarCity">SolarCity</a>
</td>
<td>Provides solar energy services
</td>
<td align="center">2,600 million
</td>
<td align="center"><sup class="reference" id="cite_ref-92"><a href="#cite_note-92">[92]</a></sup>
</td></tr>
<tr>
<td align="center">Nov 7, 2017
</td>
<td>Yes
</td>
<td>Perbix
</td>
<td>Designs automated manufacturing equipment
</td>
<td align="center">10.5 million<br/> (All-stock)
</td>
<td align="center"><sup class="reference" id="cite_ref-93"><a href="#cite_note-93">[93]</a></sup>
</td></tr>
<tr>
<td align="center">Dec 1, 2017
</td>
<td>No
</td>
<td><a class="new" href="/w/index.php?title=Compass_Automation&amp;action=edit&amp;redlink=1" title="Compass Automation (page does not exist)">Compass Automation</a>
</td>
<td>Designs, develops and integrates custom automation systems that help optimize production. <a class="external autonumber" href="https://web.archive.org/web/20171220235218/http://www.compass-automation.com/" rel="nofollow">[1]</a>
</td>
<td align="center">Unknown
</td>
<td align="center"><sup class="reference" id="cite_ref-94"><a href="#cite_note-94">[94]</a></sup>
</td></tr>
<tr>
<td align="center">May 16, 2019
</td>
<td>Yes
</td>
<td><a href="/wiki/Maxwell_Technologies" title="Maxwell Technologies">Maxwell Technologies</a>
</td>
<td>Manufactures and markets energy storage and power delivery solutions for automobiles
</td>
<td align="center">218 million<br/> (All-stock)
</td>
<td align="center"><sup class="reference" id="cite_ref-95"><a href="#cite_note-95">[95]</a></sup>
</td></tr>
<tr>
<td align="center">Oct 1, 2019
</td>
<td>Yes
</td>
<td><a href="/wiki/DeepScale" title="DeepScale">DeepScale</a>
</td>
<td>Develops perceptual system technologies for automated vehicles
</td>
<td align="center">Unknown
</td>
<td align="center"><sup class="reference" id="cite_ref-96"><a href="#cite_note-96">[96]</a></sup>
</td></tr>
<tr>
<td align="center">Oct 2, 2019
</td>
<td>No
</td>
<td><a href="/wiki/Hibar_Systems" title="Hibar Systems">Hibar Systems</a>
</td>
<td>Advanced automation solutions for small cell batteries through a mechanized pump injection system
</td>
<td align="center">Unknown
</td>
<td align="center"><sup class="reference" id="cite_ref-97"><a href="#cite_note-97">[97]</a></sup>
</td></tr>
<tr>
<td align="center">Sep 25, 2020
</td>
<td>No
</td>
<td>German ATW Automation
</td>
<td>Assembling battery modules and packs for the auto industry
</td>
<td align="center">Unknown
</td>
<td align="center"><sup class="reference" id="cite_ref-98"><a href="#cite_note-98">[98]</a></sup>
</td></tr>
</tbody></table>


<table class="wikitable">
<tbody><tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales</th>
<th>Model X<br/>sales</th>
<th>Model 3<br/>sales
</th>
<th>Model Y<br/>sales<sup class="reference" id="cite_ref-187"><a href="#cite_note-187">[a]</a></sup></th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-188"><a href="#cite_note-188">[b]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-189"><a href="#cite_note-189">[c]</a></sup></th>
<th>Source
</th></tr>
<tr style="text-align:center;">
<td>Q3 2012</td>
<td>N/A</td>
<td>350</td>
<td>250+</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>250+</td>
<td></td>
<td><sup class="reference" id="cite_ref-190"><a href="#cite_note-190">[187]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2012</td>
<td>N/A</td>
<td>2,750+</td>
<td>2,400</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>2,400</td>
<td></td>
<td><sup class="reference" id="cite_ref-191"><a href="#cite_note-191">[188]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2013</td>
<td>N/A</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-192"><a href="#cite_note-192">[189]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,150</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-193"><a href="#cite_note-193">[190]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,500+</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-194"><a href="#cite_note-194">[191]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-195"><a href="#cite_note-195">[192]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-196"><a href="#cite_note-196">[193]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-197"><a href="#cite_note-197">[194]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-198"><a href="#cite_note-198">[195]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-199"><a href="#cite_note-199">[196]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-200"><a href="#cite_note-200">[197]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-201"><a href="#cite_note-201">[198]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-202"><a href="#cite_note-202">[199]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-203"><a href="#cite_note-203">[200]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_117-1"><a href="#cite_note-Tesla1Q2016-117">[117]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-204"><a href="#cite_note-204">[201]</a></sup><sup class="reference" id="cite_ref-205"><a href="#cite_note-205">[202]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-206"><a href="#cite_note-206">[203]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-207"><a href="#cite_note-207">[d]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-208"><a href="#cite_note-208">[204]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_209-0"><a href="#cite_note-Tesla4Q2016final-209">[205]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_210-0"><a href="#cite_note-Tesla1Q2017-210">[206]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_211-0"><a href="#cite_note-Tesla2Q2017-211">[207]</a></sup><sup class="reference" id="cite_ref-212"><a href="#cite_note-212">[208]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td style="background:#f1f5fa;"></td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_213-0"><a href="#cite_note-Tesla3Q2017-213">[209]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_181-1"><a href="#cite_note-3Q2017Tesla250K-181">[181]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td style="background:#f1f5fa;"></td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_214-0"><a href="#cite_note-Tesla4Q2017-214">[210]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_215-0"><a href="#cite_note-Tesla4Q2017_AggProduction-215">[211]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_216-0"><a href="#cite_note-Tesla4Q2017final-216">[212]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td style="background:#f1f5fa;"></td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_217-0"><a href="#cite_note-Tesla1Q2018-217">[213]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td style="background:#f1f5fa;"></td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_218-0"><a href="#cite_note-Tesla2Q2018-218">[214]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_219-0"><a href="#cite_note-Tesla2Q2018final-219">[215]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td style="background:#f1f5fa;"></td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_220-0"><a href="#cite_note-Tesla3Q2018-220">[216]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_221-0"><a href="#cite_note-Tesla3Q2018final-221">[217]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td style="background:#f1f5fa;"></td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_222-0"><a href="#cite_note-Tesla4Q2018-222">[218]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_223-0"><a href="#cite_note-Tesla4Q2018final-223">[219]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td style="background:#f1f5fa;"></td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_224-0"><a href="#cite_note-Tesla1Q2019-224">[220]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td style="background:#f1f5fa;"></td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_225-0"><a href="#cite_note-Tesla2Q2019-225">[221]</a></sup><sup class="reference" id="cite_ref-wired20190703_226-0"><a href="#cite_note-wired20190703-226">[222]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,483</td>
<td>79,703</td>
<td style="background:#f1f5fa;"></td>
<td>97,186</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_227-0"><a href="#cite_note-Tesla3Q2019-227">[223]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2019</td>
<td>921,046</td>
<td>104,891</td>
<td colspan="2">19,475</td>
<td>92,620</td>
<td style="background:#f1f5fa;"></td>
<td>112,095</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2020_228-0"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2020</td>
<td>1,023,718</td>
<td>102,672</td>
<td colspan="2">12,230</td>
<td colspan="2">76,266</td>
<td>88,496</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2020_228-1"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2020</td>
<td>1,105,990</td>
<td>82,272</td>
<td colspan="2">10,614</td>
<td colspan="2">80,277</td>
<td>90,891</td>
<td></td>
<td><sup class="reference" id="cite_ref-229"><a href="#cite_note-229">[225]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2020</td>
<td>1,251,026</td>
<td>145,036</td>
<td colspan="2">15,275</td>
<td colspan="2">124,318</td>
<td>139,593</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2020_228-2"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2020</td>
<td>1,430,783</td>
<td>179,757</td>
<td colspan="2">18,966</td>
<td colspan="2">161,701</td>
<td>180,667</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2020_228-3"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2021</td>
<td>1,611,121</td>
<td>180,338</td>
<td colspan="2">2,030<sup class="reference" id="cite_ref-230"><a href="#cite_note-230">[e]</a></sup></td>
<td colspan="2">182,847</td>
<td>184,877</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla1Q2021_231-0"><a href="#cite_note-Tesla1Q2021-231">[226]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2021</td>
<td>1,817,542</td>
<td>206,421</td>
<td colspan="2">1,890</td>
<td colspan="2">199,360</td>
<td>201,250</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla2Q2021_232-0"><a href="#cite_note-Tesla2Q2021-232">[227]</a></sup>
</td></tr></tbody></table>


There're 2 wikitable in this page.

In [8]:
# Only get the 2nd table
wikitable = page_content.find_all(lambda tag: tag.name == 'table' and tag.get('class') == ['wikitable'])
wikitable

[<table class="wikitable">
 <tbody><tr style="text-align:center;">
 <th>Quarter</th>
 <th>Cumulative<br/>production</th>
 <th>Total<br/>production</th>
 <th>Model S<br/>sales</th>
 <th>Model X<br/>sales</th>
 <th>Model 3<br/>sales
 </th>
 <th>Model Y<br/>sales<sup class="reference" id="cite_ref-187"><a href="#cite_note-187">[a]</a></sup></th>
 <th>Total<br/>sales<sup class="reference" id="cite_ref-188"><a href="#cite_note-188">[b]</a></sup></th>
 <th>In transit<sup class="reference" id="cite_ref-189"><a href="#cite_note-189">[c]</a></sup></th>
 <th>Source
 </th></tr>
 <tr style="text-align:center;">
 <td>Q3 2012</td>
 <td>N/A</td>
 <td>350</td>
 <td>250+</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>250+</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-190"><a href="#cite_note-190">[187]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2012</td>
 <td>N/A</td>
 <td>2,750+</td>
 <td>2,400</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>2,400</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-191"><a href="#cite_note-191">[188]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2013</td>
 <td>N/A</td>
 <td>5,000+</td>
 <td>4,900</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>4,900</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-192"><a href="#cite_note-192">[189]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2013</td>
 <td>N/A</td>
 <td>N/A</td>
 <td>5,150</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>5,150</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-193"><a href="#cite_note-193">[190]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q3 2013</td>
 <td>N/A</td>
 <td>N/A</td>
 <td>5,500+</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>5,500+</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-194"><a href="#cite_note-194">[191]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2013</td>
 <td>~34,851</td>
 <td>6,587</td>
 <td>6,892</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>6,892</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-195"><a href="#cite_note-195">[192]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2014</td>
 <td>~41,438</td>
 <td>7,535</td>
 <td>6,457</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>6,457</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-196"><a href="#cite_note-196">[193]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2014</td>
 <td>~48,973</td>
 <td>8,763</td>
 <td>7,579</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>7,579</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-197"><a href="#cite_note-197">[194]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q3 2014</td>
 <td>~57,736</td>
 <td>~7,075</td>
 <td>7,785</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>7,785</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-198"><a href="#cite_note-198">[195]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2014</td>
 <td>64,811</td>
 <td>11,627</td>
 <td>9,834</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>9,834</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-199"><a href="#cite_note-199">[196]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2015</td>
 <td>76,438</td>
 <td>11,160</td>
 <td>10,045</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>10,045</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-200"><a href="#cite_note-200">[197]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2015</td>
 <td>89,245</td>
 <td>12,807</td>
 <td>11,532</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>11,532</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-201"><a href="#cite_note-201">[198]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q3 2015</td>
 <td>102,336</td>
 <td>13,091</td>
 <td>11,597</td>
 <td>6</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>11,603</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-202"><a href="#cite_note-202">[199]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2015</td>
 <td>116,373</td>
 <td>14,037</td>
 <td>17,272</td>
 <td>206</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>17,478</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-203"><a href="#cite_note-203">[200]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2016</td>
 <td>131,883</td>
 <td>15,510</td>
 <td>12,420</td>
 <td>2,400</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>14,820</td>
 <td>2,615</td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2016_117-1"><a href="#cite_note-Tesla1Q2016-117">[117]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2016</td>
 <td>150,228</td>
 <td>18,345</td>
 <td>9,764</td>
 <td>4,638</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>14,402</td>
 <td>5,150</td>
 <td><sup class="reference" id="cite_ref-204"><a href="#cite_note-204">[201]</a></sup><sup class="reference" id="cite_ref-205"><a href="#cite_note-205">[202]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q3 2016</td>
 <td>175,413</td>
 <td>25,185</td>
 <td>16,047</td>
 <td>8,774</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>24,821</td>
 <td>5,065</td>
 <td><sup class="reference" id="cite_ref-206"><a href="#cite_note-206">[203]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2016<sup class="reference" id="cite_ref-207"><a href="#cite_note-207">[d]</a></sup></td>
 <td>200,295</td>
 <td>24,882</td>
 <td>12,700</td>
 <td>9,500</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>22,254</td>
 <td>6,450</td>
 <td><sup class="reference" id="cite_ref-208"><a href="#cite_note-208">[204]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_209-0"><a href="#cite_note-Tesla4Q2016final-209">[205]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2017</td>
 <td>225,713</td>
 <td>25,418</td>
 <td>~13,450</td>
 <td>~11,550</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>25,051</td>
 <td>~4,650</td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2017_210-0"><a href="#cite_note-Tesla1Q2017-210">[206]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2017</td>
 <td>251,421</td>
 <td>25,708</td>
 <td>~12,000</td>
 <td>~10,000</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>22,026</td>
 <td>~3,500</td>
 <td><sup class="reference" id="cite_ref-Tesla2Q2017_211-0"><a href="#cite_note-Tesla2Q2017-211">[207]</a></sup><sup class="reference" id="cite_ref-212"><a href="#cite_note-212">[208]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q3 2017</td>
 <td>276,757</td>
 <td>25,336</td>
 <td>14,065</td>
 <td>11,865</td>
 <td>222</td>
 <td style="background:#f1f5fa;"></td>
 <td>26,137</td>
 <td>4,820</td>
 <td><sup class="reference" id="cite_ref-Tesla3Q2017_213-0"><a href="#cite_note-Tesla3Q2017-213">[209]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_181-1"><a href="#cite_note-3Q2017Tesla250K-181">[181]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2017</td>
 <td>301,322</td>
 <td>24,565</td>
 <td>~15,200</td>
 <td>~13,120</td>
 <td>1,542</td>
 <td style="background:#f1f5fa;"></td>
 <td>29,967</td>
 <td>3,380</td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2017_214-0"><a href="#cite_note-Tesla4Q2017-214">[210]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_215-0"><a href="#cite_note-Tesla4Q2017_AggProduction-215">[211]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_216-0"><a href="#cite_note-Tesla4Q2017final-216">[212]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2018</td>
 <td>335,816</td>
 <td>34,494</td>
 <td>11,730</td>
 <td>10,070</td>
 <td>8,182</td>
 <td style="background:#f1f5fa;"></td>
 <td>29,997</td>
 <td>6,100</td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2018_217-0"><a href="#cite_note-Tesla1Q2018-217">[213]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2018</td>
 <td>389,155</td>
 <td>53,339</td>
 <td>10,930</td>
 <td>11,370</td>
 <td>18,440</td>
 <td style="background:#f1f5fa;"></td>
 <td>40,740</td>
 <td>15,058</td>
 <td><sup class="reference" id="cite_ref-Tesla2Q2018_218-0"><a href="#cite_note-Tesla2Q2018-218">[214]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_219-0"><a href="#cite_note-Tesla2Q2018final-219">[215]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q3 2018</td>
 <td>469,297</td>
 <td>80,142</td>
 <td>14,470</td>
 <td>13,190</td>
 <td>56,065</td>
 <td style="background:#f1f5fa;"></td>
 <td>83,725</td>
 <td>11,824</td>
 <td><sup class="reference" id="cite_ref-Tesla3Q2018_220-0"><a href="#cite_note-Tesla3Q2018-220">[216]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_221-0"><a href="#cite_note-Tesla3Q2018final-221">[217]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2018</td>
 <td>555,852</td>
 <td>86,555</td>
 <td>13,500</td>
 <td>14,050</td>
 <td>63,359</td>
 <td style="background:#f1f5fa;"></td>
 <td>90,700</td>
 <td>2,907</td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2018_222-0"><a href="#cite_note-Tesla4Q2018-222">[218]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_223-0"><a href="#cite_note-Tesla4Q2018final-223">[219]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2019</td>
 <td>632,952</td>
 <td>77,100</td>
 <td colspan="2">12,100</td>
 <td>50,900</td>
 <td style="background:#f1f5fa;"></td>
 <td>63,000</td>
 <td>10,600</td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2019_224-0"><a href="#cite_note-Tesla1Q2019-224">[220]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2019</td>
 <td>720,000</td>
 <td>87,048</td>
 <td colspan="2">17,650</td>
 <td>77,550</td>
 <td style="background:#f1f5fa;"></td>
 <td>95,200</td>
 <td>7,400</td>
 <td><sup class="reference" id="cite_ref-Tesla2Q2019_225-0"><a href="#cite_note-Tesla2Q2019-225">[221]</a></sup><sup class="reference" id="cite_ref-wired20190703_226-0"><a href="#cite_note-wired20190703-226">[222]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q3 2019</td>
 <td>816,155</td>
 <td>96,155</td>
 <td colspan="2">17,483</td>
 <td>79,703</td>
 <td style="background:#f1f5fa;"></td>
 <td>97,186</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla3Q2019_227-0"><a href="#cite_note-Tesla3Q2019-227">[223]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2019</td>
 <td>921,046</td>
 <td>104,891</td>
 <td colspan="2">19,475</td>
 <td>92,620</td>
 <td style="background:#f1f5fa;"></td>
 <td>112,095</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2020_228-0"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2020</td>
 <td>1,023,718</td>
 <td>102,672</td>
 <td colspan="2">12,230</td>
 <td colspan="2">76,266</td>
 <td>88,496</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2020_228-1"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2020</td>
 <td>1,105,990</td>
 <td>82,272</td>
 <td colspan="2">10,614</td>
 <td colspan="2">80,277</td>
 <td>90,891</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-229"><a href="#cite_note-229">[225]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q3 2020</td>
 <td>1,251,026</td>
 <td>145,036</td>
 <td colspan="2">15,275</td>
 <td colspan="2">124,318</td>
 <td>139,593</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2020_228-2"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q4 2020</td>
 <td>1,430,783</td>
 <td>179,757</td>
 <td colspan="2">18,966</td>
 <td colspan="2">161,701</td>
 <td>180,667</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2020_228-3"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q1 2021</td>
 <td>1,611,121</td>
 <td>180,338</td>
 <td colspan="2">2,030<sup class="reference" id="cite_ref-230"><a href="#cite_note-230">[e]</a></sup></td>
 <td colspan="2">182,847</td>
 <td>184,877</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2021_231-0"><a href="#cite_note-Tesla1Q2021-231">[226]</a></sup>
 </td></tr>
 <tr style="text-align:center;">
 <td>Q2 2021</td>
 <td>1,817,542</td>
 <td>206,421</td>
 <td colspan="2">1,890</td>
 <td colspan="2">199,360</td>
 <td>201,250</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla2Q2021_232-0"><a href="#cite_note-Tesla2Q2021-232">[227]</a></sup>
 </td></tr></tbody></table>]

In [15]:
wikitable = wikitable[0]

Now that we have extracted the `<table>` tag that have `class="wikitable"` as an object, we can use BeautifulSoup's built-in functions to extract the human-readable text inside this table. Let's grab the information inside `<tbody>` tag.

In [16]:
wikitable.tbody

<tbody><tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales</th>
<th>Model X<br/>sales</th>
<th>Model 3<br/>sales
</th>
<th>Model Y<br/>sales<sup class="reference" id="cite_ref-187"><a href="#cite_note-187">[a]</a></sup></th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-188"><a href="#cite_note-188">[b]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-189"><a href="#cite_note-189">[c]</a></sup></th>
<th>Source
</th></tr>
<tr style="text-align:center;">
<td>Q3 2012</td>
<td>N/A</td>
<td>350</td>
<td>250+</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>250+</td>
<td></td>
<td><sup class="reference" id="cite_ref-190"><a href="#cite_note-190">[187]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2012</td>
<td>N/A</td>
<td>2,750+</td>
<td>2,400</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>2,400</td>
<td></td>
<td><sup class="reference" id="cite_ref-191"><a href="#cite_note-191">[188]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2013</td>
<td>N/A</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-192"><a href="#cite_note-192">[189]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,150</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-193"><a href="#cite_note-193">[190]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,500+</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-194"><a href="#cite_note-194">[191]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-195"><a href="#cite_note-195">[192]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-196"><a href="#cite_note-196">[193]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-197"><a href="#cite_note-197">[194]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-198"><a href="#cite_note-198">[195]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-199"><a href="#cite_note-199">[196]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-200"><a href="#cite_note-200">[197]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-201"><a href="#cite_note-201">[198]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-202"><a href="#cite_note-202">[199]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-203"><a href="#cite_note-203">[200]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_117-1"><a href="#cite_note-Tesla1Q2016-117">[117]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-204"><a href="#cite_note-204">[201]</a></sup><sup class="reference" id="cite_ref-205"><a href="#cite_note-205">[202]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-206"><a href="#cite_note-206">[203]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-207"><a href="#cite_note-207">[d]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-208"><a href="#cite_note-208">[204]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_209-0"><a href="#cite_note-Tesla4Q2016final-209">[205]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_210-0"><a href="#cite_note-Tesla1Q2017-210">[206]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_211-0"><a href="#cite_note-Tesla2Q2017-211">[207]</a></sup><sup class="reference" id="cite_ref-212"><a href="#cite_note-212">[208]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td style="background:#f1f5fa;"></td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_213-0"><a href="#cite_note-Tesla3Q2017-213">[209]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_181-1"><a href="#cite_note-3Q2017Tesla250K-181">[181]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td style="background:#f1f5fa;"></td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_214-0"><a href="#cite_note-Tesla4Q2017-214">[210]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_215-0"><a href="#cite_note-Tesla4Q2017_AggProduction-215">[211]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_216-0"><a href="#cite_note-Tesla4Q2017final-216">[212]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td style="background:#f1f5fa;"></td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_217-0"><a href="#cite_note-Tesla1Q2018-217">[213]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td style="background:#f1f5fa;"></td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_218-0"><a href="#cite_note-Tesla2Q2018-218">[214]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_219-0"><a href="#cite_note-Tesla2Q2018final-219">[215]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td style="background:#f1f5fa;"></td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_220-0"><a href="#cite_note-Tesla3Q2018-220">[216]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_221-0"><a href="#cite_note-Tesla3Q2018final-221">[217]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td style="background:#f1f5fa;"></td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_222-0"><a href="#cite_note-Tesla4Q2018-222">[218]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_223-0"><a href="#cite_note-Tesla4Q2018final-223">[219]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td style="background:#f1f5fa;"></td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_224-0"><a href="#cite_note-Tesla1Q2019-224">[220]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td style="background:#f1f5fa;"></td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_225-0"><a href="#cite_note-Tesla2Q2019-225">[221]</a></sup><sup class="reference" id="cite_ref-wired20190703_226-0"><a href="#cite_note-wired20190703-226">[222]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,483</td>
<td>79,703</td>
<td style="background:#f1f5fa;"></td>
<td>97,186</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_227-0"><a href="#cite_note-Tesla3Q2019-227">[223]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2019</td>
<td>921,046</td>
<td>104,891</td>
<td colspan="2">19,475</td>
<td>92,620</td>
<td style="background:#f1f5fa;"></td>
<td>112,095</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2020_228-0"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2020</td>
<td>1,023,718</td>
<td>102,672</td>
<td colspan="2">12,230</td>
<td colspan="2">76,266</td>
<td>88,496</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2020_228-1"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2020</td>
<td>1,105,990</td>
<td>82,272</td>
<td colspan="2">10,614</td>
<td colspan="2">80,277</td>
<td>90,891</td>
<td></td>
<td><sup class="reference" id="cite_ref-229"><a href="#cite_note-229">[225]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2020</td>
<td>1,251,026</td>
<td>145,036</td>
<td colspan="2">15,275</td>
<td colspan="2">124,318</td>
<td>139,593</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2020_228-2"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2020</td>
<td>1,430,783</td>
<td>179,757</td>
<td colspan="2">18,966</td>
<td colspan="2">161,701</td>
<td>180,667</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2020_228-3"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2021</td>
<td>1,611,121</td>
<td>180,338</td>
<td colspan="2">2,030<sup class="reference" id="cite_ref-230"><a href="#cite_note-230">[e]</a></sup></td>
<td colspan="2">182,847</td>
<td>184,877</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla1Q2021_231-0"><a href="#cite_note-Tesla1Q2021-231">[226]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2021</td>
<td>1,817,542</td>
<td>206,421</td>
<td colspan="2">1,890</td>
<td colspan="2">199,360</td>
<td>201,250</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla2Q2021_232-0"><a href="#cite_note-Tesla2Q2021-232">[227]</a></sup>
</td></tr></tbody>

In the earlier cell, we use `find()` function to get the html table. Now, we are going to use `findAll()` function to grab all the defined tags inside the BeautifulSoup object. In this case, we want to extract every row in the `<tbody>` tag and we can do so by using `findAll()` function.

In [17]:
wikitable.tbody.findAll('tr')

[<tr style="text-align:center;">
 <th>Quarter</th>
 <th>Cumulative<br/>production</th>
 <th>Total<br/>production</th>
 <th>Model S<br/>sales</th>
 <th>Model X<br/>sales</th>
 <th>Model 3<br/>sales
 </th>
 <th>Model Y<br/>sales<sup class="reference" id="cite_ref-187"><a href="#cite_note-187">[a]</a></sup></th>
 <th>Total<br/>sales<sup class="reference" id="cite_ref-188"><a href="#cite_note-188">[b]</a></sup></th>
 <th>In transit<sup class="reference" id="cite_ref-189"><a href="#cite_note-189">[c]</a></sup></th>
 <th>Source
 </th></tr>, <tr style="text-align:center;">
 <td>Q3 2012</td>
 <td>N/A</td>
 <td>350</td>
 <td>250+</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>250+</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-190"><a href="#cite_note-190">[187]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2012</td>
 <td>N/A</td>
 <td>2,750+</td>
 <td>2,400</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>2,400</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-191"><a href="#cite_note-191">[188]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2013</td>
 <td>N/A</td>
 <td>5,000+</td>
 <td>4,900</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>4,900</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-192"><a href="#cite_note-192">[189]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2013</td>
 <td>N/A</td>
 <td>N/A</td>
 <td>5,150</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>5,150</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-193"><a href="#cite_note-193">[190]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q3 2013</td>
 <td>N/A</td>
 <td>N/A</td>
 <td>5,500+</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>5,500+</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-194"><a href="#cite_note-194">[191]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2013</td>
 <td>~34,851</td>
 <td>6,587</td>
 <td>6,892</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>6,892</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-195"><a href="#cite_note-195">[192]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2014</td>
 <td>~41,438</td>
 <td>7,535</td>
 <td>6,457</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>6,457</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-196"><a href="#cite_note-196">[193]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2014</td>
 <td>~48,973</td>
 <td>8,763</td>
 <td>7,579</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>7,579</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-197"><a href="#cite_note-197">[194]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q3 2014</td>
 <td>~57,736</td>
 <td>~7,075</td>
 <td>7,785</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>7,785</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-198"><a href="#cite_note-198">[195]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2014</td>
 <td>64,811</td>
 <td>11,627</td>
 <td>9,834</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>9,834</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-199"><a href="#cite_note-199">[196]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2015</td>
 <td>76,438</td>
 <td>11,160</td>
 <td>10,045</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>10,045</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-200"><a href="#cite_note-200">[197]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2015</td>
 <td>89,245</td>
 <td>12,807</td>
 <td>11,532</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>11,532</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-201"><a href="#cite_note-201">[198]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q3 2015</td>
 <td>102,336</td>
 <td>13,091</td>
 <td>11,597</td>
 <td>6</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>11,603</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-202"><a href="#cite_note-202">[199]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2015</td>
 <td>116,373</td>
 <td>14,037</td>
 <td>17,272</td>
 <td>206</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>17,478</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-203"><a href="#cite_note-203">[200]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2016</td>
 <td>131,883</td>
 <td>15,510</td>
 <td>12,420</td>
 <td>2,400</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>14,820</td>
 <td>2,615</td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2016_117-1"><a href="#cite_note-Tesla1Q2016-117">[117]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2016</td>
 <td>150,228</td>
 <td>18,345</td>
 <td>9,764</td>
 <td>4,638</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>14,402</td>
 <td>5,150</td>
 <td><sup class="reference" id="cite_ref-204"><a href="#cite_note-204">[201]</a></sup><sup class="reference" id="cite_ref-205"><a href="#cite_note-205">[202]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q3 2016</td>
 <td>175,413</td>
 <td>25,185</td>
 <td>16,047</td>
 <td>8,774</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>24,821</td>
 <td>5,065</td>
 <td><sup class="reference" id="cite_ref-206"><a href="#cite_note-206">[203]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2016<sup class="reference" id="cite_ref-207"><a href="#cite_note-207">[d]</a></sup></td>
 <td>200,295</td>
 <td>24,882</td>
 <td>12,700</td>
 <td>9,500</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>22,254</td>
 <td>6,450</td>
 <td><sup class="reference" id="cite_ref-208"><a href="#cite_note-208">[204]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_209-0"><a href="#cite_note-Tesla4Q2016final-209">[205]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2017</td>
 <td>225,713</td>
 <td>25,418</td>
 <td>~13,450</td>
 <td>~11,550</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>25,051</td>
 <td>~4,650</td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2017_210-0"><a href="#cite_note-Tesla1Q2017-210">[206]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2017</td>
 <td>251,421</td>
 <td>25,708</td>
 <td>~12,000</td>
 <td>~10,000</td>
 <td style="background:#f1f5fa;"></td>
 <td style="background:#f1f5fa;"></td>
 <td>22,026</td>
 <td>~3,500</td>
 <td><sup class="reference" id="cite_ref-Tesla2Q2017_211-0"><a href="#cite_note-Tesla2Q2017-211">[207]</a></sup><sup class="reference" id="cite_ref-212"><a href="#cite_note-212">[208]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q3 2017</td>
 <td>276,757</td>
 <td>25,336</td>
 <td>14,065</td>
 <td>11,865</td>
 <td>222</td>
 <td style="background:#f1f5fa;"></td>
 <td>26,137</td>
 <td>4,820</td>
 <td><sup class="reference" id="cite_ref-Tesla3Q2017_213-0"><a href="#cite_note-Tesla3Q2017-213">[209]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_181-1"><a href="#cite_note-3Q2017Tesla250K-181">[181]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2017</td>
 <td>301,322</td>
 <td>24,565</td>
 <td>~15,200</td>
 <td>~13,120</td>
 <td>1,542</td>
 <td style="background:#f1f5fa;"></td>
 <td>29,967</td>
 <td>3,380</td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2017_214-0"><a href="#cite_note-Tesla4Q2017-214">[210]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_215-0"><a href="#cite_note-Tesla4Q2017_AggProduction-215">[211]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_216-0"><a href="#cite_note-Tesla4Q2017final-216">[212]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2018</td>
 <td>335,816</td>
 <td>34,494</td>
 <td>11,730</td>
 <td>10,070</td>
 <td>8,182</td>
 <td style="background:#f1f5fa;"></td>
 <td>29,997</td>
 <td>6,100</td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2018_217-0"><a href="#cite_note-Tesla1Q2018-217">[213]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2018</td>
 <td>389,155</td>
 <td>53,339</td>
 <td>10,930</td>
 <td>11,370</td>
 <td>18,440</td>
 <td style="background:#f1f5fa;"></td>
 <td>40,740</td>
 <td>15,058</td>
 <td><sup class="reference" id="cite_ref-Tesla2Q2018_218-0"><a href="#cite_note-Tesla2Q2018-218">[214]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_219-0"><a href="#cite_note-Tesla2Q2018final-219">[215]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q3 2018</td>
 <td>469,297</td>
 <td>80,142</td>
 <td>14,470</td>
 <td>13,190</td>
 <td>56,065</td>
 <td style="background:#f1f5fa;"></td>
 <td>83,725</td>
 <td>11,824</td>
 <td><sup class="reference" id="cite_ref-Tesla3Q2018_220-0"><a href="#cite_note-Tesla3Q2018-220">[216]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_221-0"><a href="#cite_note-Tesla3Q2018final-221">[217]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2018</td>
 <td>555,852</td>
 <td>86,555</td>
 <td>13,500</td>
 <td>14,050</td>
 <td>63,359</td>
 <td style="background:#f1f5fa;"></td>
 <td>90,700</td>
 <td>2,907</td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2018_222-0"><a href="#cite_note-Tesla4Q2018-222">[218]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_223-0"><a href="#cite_note-Tesla4Q2018final-223">[219]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2019</td>
 <td>632,952</td>
 <td>77,100</td>
 <td colspan="2">12,100</td>
 <td>50,900</td>
 <td style="background:#f1f5fa;"></td>
 <td>63,000</td>
 <td>10,600</td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2019_224-0"><a href="#cite_note-Tesla1Q2019-224">[220]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2019</td>
 <td>720,000</td>
 <td>87,048</td>
 <td colspan="2">17,650</td>
 <td>77,550</td>
 <td style="background:#f1f5fa;"></td>
 <td>95,200</td>
 <td>7,400</td>
 <td><sup class="reference" id="cite_ref-Tesla2Q2019_225-0"><a href="#cite_note-Tesla2Q2019-225">[221]</a></sup><sup class="reference" id="cite_ref-wired20190703_226-0"><a href="#cite_note-wired20190703-226">[222]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q3 2019</td>
 <td>816,155</td>
 <td>96,155</td>
 <td colspan="2">17,483</td>
 <td>79,703</td>
 <td style="background:#f1f5fa;"></td>
 <td>97,186</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla3Q2019_227-0"><a href="#cite_note-Tesla3Q2019-227">[223]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2019</td>
 <td>921,046</td>
 <td>104,891</td>
 <td colspan="2">19,475</td>
 <td>92,620</td>
 <td style="background:#f1f5fa;"></td>
 <td>112,095</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2020_228-0"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2020</td>
 <td>1,023,718</td>
 <td>102,672</td>
 <td colspan="2">12,230</td>
 <td colspan="2">76,266</td>
 <td>88,496</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2020_228-1"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2020</td>
 <td>1,105,990</td>
 <td>82,272</td>
 <td colspan="2">10,614</td>
 <td colspan="2">80,277</td>
 <td>90,891</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-229"><a href="#cite_note-229">[225]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q3 2020</td>
 <td>1,251,026</td>
 <td>145,036</td>
 <td colspan="2">15,275</td>
 <td colspan="2">124,318</td>
 <td>139,593</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2020_228-2"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q4 2020</td>
 <td>1,430,783</td>
 <td>179,757</td>
 <td colspan="2">18,966</td>
 <td colspan="2">161,701</td>
 <td>180,667</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla4Q2020_228-3"><a href="#cite_note-Tesla4Q2020-228">[224]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q1 2021</td>
 <td>1,611,121</td>
 <td>180,338</td>
 <td colspan="2">2,030<sup class="reference" id="cite_ref-230"><a href="#cite_note-230">[e]</a></sup></td>
 <td colspan="2">182,847</td>
 <td>184,877</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla1Q2021_231-0"><a href="#cite_note-Tesla1Q2021-231">[226]</a></sup>
 </td></tr>, <tr style="text-align:center;">
 <td>Q2 2021</td>
 <td>1,817,542</td>
 <td>206,421</td>
 <td colspan="2">1,890</td>
 <td colspan="2">199,360</td>
 <td>201,250</td>
 <td></td>
 <td><sup class="reference" id="cite_ref-Tesla2Q2021_232-0"><a href="#cite_note-Tesla2Q2021-232">[227]</a></sup>
 </td></tr>]

As we can see from the html source code above, the first row consists of the column name and followed by the actual data in the subsequent rows. Let's grab the `column names` from the first row and all the `<th>` tags inside the row.

Notice the row index of `[0]` after `findAll('tr')` to get the first row. Then, we can chain the second `findAll()` function to get all the `<th>` tags inside this row.

In [18]:
wikicolumns = wikitable.tbody.findAll('tr')[0].findAll('th')
wikicolumns

[<th>Quarter</th>,
 <th>Cumulative<br/>production</th>,
 <th>Total<br/>production</th>,
 <th>Model S<br/>sales</th>,
 <th>Model X<br/>sales</th>,
 <th>Model 3<br/>sales
 </th>,
 <th>Model Y<br/>sales<sup class="reference" id="cite_ref-187"><a href="#cite_note-187">[a]</a></sup></th>,
 <th>Total<br/>sales<sup class="reference" id="cite_ref-188"><a href="#cite_note-188">[b]</a></sup></th>,
 <th>In transit<sup class="reference" id="cite_ref-189"><a href="#cite_note-189">[c]</a></sup></th>,
 <th>Source
 </th>]

Let's store the column names in a Python object, called `df_columns`, so we can use it to build Pandas dataframe.

In [19]:
df_columns = []

for column in wikicolumns:
    # remove <br/> inside <th> text, such as `<th>Total<br/>production</th>`
    text = column.get_text(strip=True, separator=" ")
    # append the text into df_columns
    df_columns.append(text)

print(np.array(df_columns))

['Quarter' 'Cumulative production' 'Total production' 'Model S sales'
 'Model X sales' 'Model 3 sales' 'Model Y sales [a]' 'Total sales [b]'
 'In transit [c]' 'Source']

Now that we hava stored the column names, now we want to iterate the remaining rows, consisting the real data in this table. We can use Python `for loop` function to iterate from the second row onward. To do so, we need to set the starting index as follows: `wikitable.tbody.findAll('tr')[1:]`. Let's store our dataset in Python object, called `data`.

In [20]:
df_data = []

for row in wikitable.tbody.findAll('tr')[1:]:
    row_data = []
    for td in row.findAll('td'):
        text = td.get_text(strip=True, separator=" ")
        row_data.append(text)
    df_data.append(np.array(row_data))

# print the first 10 data rows
print(df_data[:10])

[array(['Q3 2012', 'N/A', '350', '250+', '', '', '', '250+', '', '[187]'],
      dtype='<U7'), array(['Q4 2012', 'N/A', '2,750+', '2,400', '', '', '', '2,400', '',
       '[188]'],
      dtype='<U7'), array(['Q1 2013', 'N/A', '5,000+', '4,900', '', '', '', '4,900', '',
       '[189]'],
      dtype='<U7'), array(['Q2 2013', 'N/A', 'N/A', '5,150', '', '', '', '5,150', '', '[190]'],
      dtype='<U7'), array(['Q3 2013', 'N/A', 'N/A', '5,500+', '', '', '', '5,500+', '', '[191]'],
      dtype='<U7'), array(['Q4 2013', '~34,851', '6,587', '6,892', '', '', '', '6,892', '',
       '[192]'],
      dtype='<U7'), array(['Q1 2014', '~41,438', '7,535', '6,457', '', '', '', '6,457', '',
       '[193]'],
      dtype='<U7'), array(['Q2 2014', '~48,973', '8,763', '7,579', '', '', '', '7,579', '',
       '[194]'],
      dtype='<U7'), array(['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '', '7,785', '',
       '[195]'],
      dtype='<U7'), array(['Q4 2014', '64,811', '11,627', '9,834', '', '', '', '9,834', '',
       '[196]'],
      dtype='<U7')]

Great! We have grabbed the column names and data. But we want to present the data in human-readable structure. We can use [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) library. Pandas DataFrame is similar to Excel spreadsheet and Google Sheet. This library provides a convenient data structure to manipulate and present data with Python.

Let's create a Panda DataFrame object, called `dataframe`, so we can present our data in a spreadsheet structure.

In [21]:
dataframe = pd.DataFrame(data=df_data, columns=df_columns)
dataframe.set_index('Quarter', inplace=True)
dataframe

,Cumulative production,Total production,Model S sales,Model X sales,Model 3 sales,Model Y sales [a],Total sales [b],In transit [c],Source
Quarter,,,,,,,,,
Q3 2012,N/A,350,250+,,,,250+,,[187]
Q4 2012,N/A,"2,750+","2,400",,,,"2,400",,[188]
Q1 2013,N/A,"5,000+","4,900",,,,"4,900",,[189]
Q2 2013,N/A,N/A,"5,150",,,,"5,150",,[190]
Q3 2013,N/A,N/A,"5,500+",,,,"5,500+",,[191]
Q4 2013,"~34,851","6,587","6,892",,,,"6,892",,[192]
Q1 2014,"~41,438","7,535","6,457",,,,"6,457",,[193]
Q2 2014,"~48,973","8,763","7,579",,,,"7,579",,[194]
Q3 2014,"~57,736","~7,075","7,785",,,,"7,785",,[195]
Q4 2014,"64,811","11,627","9,834",,,,"9,834",,[196]
Q1 2015,"76,438","11,160","10,045",,,,"10,045",,[197]
Q2 2015,"89,245","12,807","11,532",,,,"11,532",,[198]
Q3 2015,"102,336","13,091","11,597",6,,,"11,603",,[199]
Q4 2015,"116,373","14,037","17,272",206,,,"17,478",,[200]
Q1 2016,"131,883","15,510","12,420","2,400",,,"14,820","2,615",[117]
Q2 2016,"150,228","18,345","9,764","4,638",,,"14,402","5,150",[201] [202]
Q3 2016,"175,413","25,185","16,047","8,774",,,"24,821","5,065",[203]
Q4 2016 [d],"200,295","24,882","12,700","9,500",,,"22,254","6,450",[204] [205]
Q1 2017,"225,713","25,418","~13,450","~11,550",,,"25,051","~4,650",[206]
Q2 2017,"251,421","25,708","~12,000","~10,000",,,"22,026","~3,500",[207] [208]
Q3 2017,"276,757","25,336","14,065","11,865",222,,"26,137","4,820",[209] [181]
Q4 2017,"301,322","24,565","~15,200","~13,120","1,542",,"29,967","3,380",[210] [211] [212]
Q1 2018,"335,816","34,494","11,730","10,070","8,182",,"29,997","6,100",[213]
Q2 2018,"389,155","53,339","10,930","11,370","18,440",,"40,740","15,058",[214] [215]
Q3 2018,"469,297","80,142","14,470","13,190","56,065",,"83,725","11,824",[216] [217]
Q4 2018,"555,852","86,555","13,500","14,050","63,359",,"90,700","2,907",[218] [219]
Q1 2019,"632,952","77,100","12,100","50,900",,"63,000","10,600",[220],None
Q2 2019,"720,000","87,048","17,650","77,550",,"95,200","7,400",[221] [222],None
Q3 2019,"816,155","96,155","17,483","79,703",,"97,186",,[223],None
Q4 2019,"921,046","104,891","19,475","92,620",,"112,095",,[224],None
Q1 2020,"1,023,718","102,672","12,230","76,266","88,496",,[224],None,None
Q2 2020,"1,105,990","82,272","10,614","80,277","90,891",,[225],None,None
Q3 2020,"1,251,026","145,036","15,275","124,318","139,593",,[224],None,None
Q4 2020,"1,430,783","179,757","18,966","161,701","180,667",,[224],None,None
Q1 2021,"1,611,121","180,338","2,030 [e]","182,847","184,877",,[226],None,None
Q2 2021,"1,817,542","206,421","1,890","199,360","201,250",,[227],None,None

Great job! We have extracted Tesla's production and sales data from an `html table` in a Wikipage and converted the data into Python and Pandas DataFrame. It's now your time to practice with `requests` and `BeautifulSoup` libraries.

# TODO: Get Amazon financial data from Wikipage

URL links:
- Wikipage: https://en.wikipedia.org/wiki/Amazon_(company) <br/>
- Financial data: https://en.wikipedia.org/wiki/Amazon_(company)#Finances

Tasks: <br/>
Start by importing the `BeautifulSoup` and `requests` libraries. Then use the `requests.get()` function with the appropriate `params` to get our website's HTML data. Then create a BeautifulSoup Object named `page_content` using our website's HTML data and the `html_parser` parser. Then use the `find()` method to find the `<table>` tag. Then, get the table column names. Finally, create a loop that prints all the countries and population from `<tbody>` tag.

In [29]:
# Import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

# Create a Response object
r = requests.get('https://en.wikipedia.org/wiki/Amazon_(company)')

# Get HTML data
html_data = r.text

# Create a BeautifulSoup Object
page_content = BeautifulSoup(html_data, 'html.parser')

In [69]:
# Find financial table
wikitable = page_content.find('table', {'class': 'wikitable float-left'})
wikitable

<table class="wikitable float-left" style="text-align: right;">
<tbody><tr>
<th>Year
</th>
<th>Revenue<sup class="reference" id="cite_ref-140"><a href="#cite_note-140">[140]</a></sup><br/>in mil. USD$
</th>
<th>Net income<br/>in mil. USD$
</th>
<th>Total Assets<br/>in mil. USD$
</th>
<th>Employees
</th></tr>
<tr>
<td>1998
</td>
<td>610
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>1999
</td>
<td>1,639
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>2000
</td>
<td>2,761
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>2001
</td>
<td>3,122
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>2002
</td>
<td>3,932
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>2003
</td>
<td>5,263
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>2004
</td>
<td>6,921
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>2005
</td>
<td>8,490
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>2006
</td>
<td>10,711
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>2007<sup class="reference" id="cite_ref-141"><a href="#cite_note-141">[141]</a></sup>
</td>
<td>14,835
</td>
<td>476
</td>
<td>6,485
</td>
<td>17,000
</td></tr>
<tr>
<td>2008<sup class="reference" id="cite_ref-142"><a href="#cite_note-142">[142]</a></sup>
</td>
<td>19,166
</td>
<td>645
</td>
<td>8,314
</td>
<td>20,700
</td></tr>
<tr>
<td>2009<sup class="reference" id="cite_ref-143"><a href="#cite_note-143">[143]</a></sup>
</td>
<td>24,509
</td>
<td>902
</td>
<td>13,813
</td>
<td>24,300
</td></tr>
<tr>
<td>2010<sup class="reference" id="cite_ref-144"><a href="#cite_note-144">[144]</a></sup>
</td>
<td>34,204
</td>
<td>1,152
</td>
<td>18,797
</td>
<td>33,700
</td></tr>
<tr>
<td>2011<sup class="reference" id="cite_ref-145"><a href="#cite_note-145">[145]</a></sup>
</td>
<td>48,077
</td>
<td>631
</td>
<td>25,278
</td>
<td>56,200
</td></tr>
<tr>
<td>2012<sup class="reference" id="cite_ref-146"><a href="#cite_note-146">[146]</a></sup>
</td>
<td>61,093
</td>
<td>39
</td>
<td>32,555
</td>
<td>88,400
</td></tr>
<tr>
<td>2013<sup class="reference" id="cite_ref-147"><a href="#cite_note-147">[147]</a></sup>
</td>
<td>74,452
</td>
<td>274
</td>
<td>40,159
</td>
<td>117,300
</td></tr>
<tr>
<td>2014<sup class="reference" id="cite_ref-148"><a href="#cite_note-148">[148]</a></sup>
</td>
<td>88,988
</td>
<td>241
</td>
<td>54,505
</td>
<td>154,100
</td></tr>
<tr>
<td>2015<sup class="reference" id="cite_ref-149"><a href="#cite_note-149">[149]</a></sup>
</td>
<td>107,006
</td>
<td>596
</td>
<td>64,747
</td>
<td>230,800
</td></tr>
<tr>
<td>2016<sup class="reference" id="cite_ref-150"><a href="#cite_note-150">[150]</a></sup>
</td>
<td>135,987
</td>
<td>2,371
</td>
<td>83,402
</td>
<td>341,400
</td></tr>
<tr>
<td>2017<sup class="reference" id="cite_ref-151"><a href="#cite_note-151">[151]</a></sup>
</td>
<td>177,866
</td>
<td>3,033
</td>
<td>131,310
</td>
<td>566,000
</td></tr>
<tr>
<td>2018<sup class="reference" id="cite_ref-152"><a href="#cite_note-152">[152]</a></sup>
</td>
<td>232,887
</td>
<td>10,073
</td>
<td>162,648
</td>
<td>647,500
</td></tr>
<tr>
<td>2019<sup class="reference" id="cite_ref-153"><a href="#cite_note-153">[153]</a></sup>
</td>
<td>280,522
</td>
<td>11,588
</td>
<td>225,248
</td>
<td>798,000
</td></tr>
<tr>
<td>2020<sup class="reference" id="cite_ref-154"><a href="#cite_note-154">[154]</a></sup>
</td>
<td>386,064
</td>
<td>21,331
</td>
<td>321,195
</td>
<td>1,298,000
</td></tr></tbody></table>

In [40]:
# Find all column titles
wikicolumns = wikitable.tbody.findAll('tr')[0].findAll('th')
wikicolumns

[<th>Year
 </th>,
 <th>Revenue<sup class="reference" id="cite_ref-140"><a href="#cite_note-140">[140]</a></sup><br/>in mil. USD$
 </th>,
 <th>Net income<br/>in mil. USD$
 </th>,
 <th>Total Assets<br/>in mil. USD$
 </th>,
 <th>Employees
 </th>]

In [45]:
# Loop through column titles and store into Python array
df_columns = []

for col in wikicolumns:
    col_name = col.get_text(strip=True, separator=" ")
    df_columns.append(col_name)
    
df_columns

['Year',
 'Revenue [140] in mil. USD$',
 'Net income in mil. USD$',
 'Total Assets in mil. USD$',
 'Employees']

In [66]:
# Loop through the data rows and store into Python array
df_data = []

for row in wikitable.tbody.findAll('tr')[1:]:
    row_data = []
    for td in row.findAll('td'):
        td_text = td.get_text(strip=True, separator=" ")
        row_data.append(td_text)
    df_data.append(row_data)
    
    
df_data

[['1998', '610', '', '', ''],
 ['1999', '1,639', '', '', ''],
 ['2000', '2,761', '', '', ''],
 ['2001', '3,122', '', '', ''],
 ['2002', '3,932', '', '', ''],
 ['2003', '5,263', '', '', ''],
 ['2004', '6,921', '', '', ''],
 ['2005', '8,490', '', '', ''],
 ['2006', '10,711', '', '', ''],
 ['2007 [141]', '14,835', '476', '6,485', '17,000'],
 ['2008 [142]', '19,166', '645', '8,314', '20,700'],
 ['2009 [143]', '24,509', '902', '13,813', '24,300'],
 ['2010 [144]', '34,204', '1,152', '18,797', '33,700'],
 ['2011 [145]', '48,077', '631', '25,278', '56,200'],
 ['2012 [146]', '61,093', '39', '32,555', '88,400'],
 ['2013 [147]', '74,452', '274', '40,159', '117,300'],
 ['2014 [148]', '88,988', '241', '54,505', '154,100'],
 ['2015 [149]', '107,006', '596', '64,747', '230,800'],
 ['2016 [150]', '135,987', '2,371', '83,402', '341,400'],
 ['2017 [151]', '177,866', '3,033', '131,310', '566,000'],
 ['2018 [152]', '232,887', '10,073', '162,648', '647,500'],
 ['2019 [153]', '280,522', '11,588', '225,248', '798,000'],
 ['2020 [154]', '386,064', '21,331', '321,195', '1,298,000']]

In [70]:
# Print financial data in DataFrame format and set `Year` as index
dataframe = pd.DataFrame(df_data, columns=df_columns)
dataframe.set_index('Year', inplace=True)
dataframe

,Revenue [140] in mil. USD$,Net income in mil. USD$,Total Assets in mil. USD$,Employees
Year,,,,
1998,610,,,
1999,"1,639",,,
2000,"2,761",,,
2001,"3,122",,,
2002,"3,932",,,
2003,"5,263",,,
2004,"6,921",,,
2005,"8,490",,,
2006,"10,711",,,
2007 [141],"14,835",476,"6,485","17,000"
2008 [142],"19,166",645,"8,314","20,700"
2009 [143],"24,509",902,"13,813","24,300"
2010 [144],"34,204","1,152","18,797","33,700"
2011 [145],"48,077",631,"25,278","56,200"
2012 [146],"61,093",39,"32,555","88,400"
2013 [147],"74,452",274,"40,159","117,300"
2014 [148],"88,988",241,"54,505","154,100"
2015 [149],"107,006",596,"64,747","230,800"
2016 [150],"135,987","2,371","83,402","341,400"
2017 [151],"177,866","3,033","131,310","566,000"
2018 [152],"232,887","10,073","162,648","647,500"
2019 [153],"280,522","11,588","225,248","798,000"
2020 [154],"386,064","21,331","321,195","1,298,000"

# XML

Throughout these lessons we have used HTML files and BeautifulSoup's `html_parser` to show you how to scrape data. We should note that the exact same techniques can be applied to XML files. The only difference is that you will have to use an XML parser in the BeautifulSoup constructor. For example, in order to parse a document as XML, you can use `lxml`s XML parser by passing in `xml` as the second argument to the BeautifulSoup constructor:

```python
page_content = BeautifulSoup(xml_file, 'xml')
```

The above statement will parse the given `xml_file` as XML using the `xml` parser.

# Final Remarks

So now you should know how to scrape data from websites using the `requests` and `BeautifulSoup` libraries. We should note, that you should be careful when scrapping websites not to overwhelm a website's server. This can happen if you write computer programs that send out a lot of requests very quickly. Doing this, will overwhelm the server and probably cause it to get stuck. This is obviously very bad, so avoid making tons of web requests in a short amount of time. In fact, some servers monitor if you are making too many requests and block you, if you are doing so. So keep this in mind when you are writing computer programs.

# Solution

[Solution notebook](requests_library_solution.ipynb)